/* header */
li {
   list-style: none ;
  }
.inner {
  width: 1200px;
  margin: 0 auto;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header ul {
  display: flex;
}
#header ul li {
  padding: 0 10px;
}


/* // footer */

#main-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:#454f51;
  color: white;
}

 /* main-bg */
  #main-bg{
    width: 100%;
    height : 500px;
    background-size : cover;
    background-position : center;
  }

