// header
li {
   list-style: none ;
  }
.inner {
  width: 1200px;
  margin: 0 auto;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header ul {
  display: flex;
}
#header ul li {
  padding: 0 10px;
}

// footer

#main-footer {
    background:#494c4c;
    color : #fff;
}

#footer-info {
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
  }
  #footer-info > div {
    display: flex;
    justify-content: space-between;
  }
  #footer-info > div div {
    width: 32%;
    line-height: 2;
  }
  #footer-info > div div h3 {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  #footer-info > div div li {
    border-bottom: 1px dotted #ccc;
  }
  #footer-copy ul {
    display: flex;
    padding: 16px 0;
  }
  #footer-copy ul li {
    padding: 0 30px;
    line-height: 1;

    // main-bg
  }
  #main-bg{
    width: 100%;
    height : 500px;
    background-size : cover;
    background-position : center;
  }